body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
}

.btn-register {
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 100%;

    background: linear-gradient(135deg, #000, #333);
    color: white;

    border: none;
    border-radius: 5px;

    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-register:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.login-container {
    background: white;
    padding: 50px 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.login-container h1 {
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #555;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background: #333;
}

.logo-login {
    width: 80px;
    margin-bottom: 10px;
}

.titulo-login {
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.titulo-login span {
    font-size: 14px;
    letter-spacing: 5px;
}

.btn-volver {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.btn-volver:hover {
    color: black;
    text-decoration: underline;
}

@media (max-width: 768px) {

    /* NAVBAR */
    .nav {
        display: none; /* ocultamos menú */
    }

    /* PODÉS después agregar hamburguesa */

    /* CATEGORIAS */
    .contenedor-categorias {
        grid-template-columns: 1fr; /* 1 columna */
    }

    /* PRODUCTOS */
    .contenedor-productos {
        grid-template-columns: 1fr;
        padding: 15px;
    }

    /* FORM ADMIN */
    .admin-form {
        grid-template-columns: 1fr;
    }

    .admin-form button {
        grid-column: span 1;
    }

    /* CARRITO */
    .carrito {
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    main {
        margin-right: 0;
    }

    /* HEADER */
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}